
//- MainHeader
//- ============
//- Heading for the document

//- Includes

mixin MainHeader()
    
    .MainHeader

        h1 Leatherhead Social Heatmap

        p Click these places to check-in:

        ul
            li.icon-beer Pubs
            li.icon-wine Bars
            li.icon-food Restaurants
