
// SideBar
// ============
// Holds further information about the map

.SideBar {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100vh;
    padding: $size-m;
    background: $clr-primary;
    z-index: $z-m;
    transform: translateX(100%);
}