
// SideBar
// ============
// Holds further information about the map

.SideBar {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: calc(100vh - #{$size-m} * 2);
    margin: $size-m;
    padding: $size-m;
    background: $clr-primary;
    z-index: $z-m;
    transform: translateX(calc(100vh - #{$size-m} * 2));
}